@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
}
@font-face {
  font-family: "Avenir";
  font-weight: 500;
  src: url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
}
@font-face {
  font-family: "Avenir";
  font-weight: 600;
  src: url("../fonts/AvenirNextCyr-Demi.woff") format("woff");
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
}

html,
body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
}

#app {
  // background-color: #ffffff;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #4a4a4a;
  margin: 0 0 20px;
  &-icon {
    width: 36px;
    height: 36px;
    margin: -8px 10px -8px 0;
    cursor: pointer;
    & > svg {
      bottom: 0;
    }
  }
  &.with-description {
    margin: 0 0 5px;
  }
}
